.container {
  display: flex;
  column-gap: 16px;
  margin: 15px auto 32px;
  border: 2px solid #c4c4c4;
  width: max-content;
  padding: 12px 32px;
  border-radius: 45px;
  color: var(--mono);
  font-weight: 500;
  .info {
    &.selected {
      color: var(--primary);
      //margin-right: 16px;
    }
    &.removed {
      text-decoration: line-through;
    }
  }
  .role {
    &.selected {
      color: var(--primary);
    }
    &::after,
    &::before {
      content: "";
      width: 24px;
      display: inline-block;
      border-top: 1px solid var(--mono-placeholder);
      position: relative;
      top: -3px;
    }
    &::after {
      margin-left: 16px;
    }
    &::before {
      margin-right: 16px;
    }
  }
  .done {
    color: var(--success-border);
    //margin-left: 16px;

    &.selected {
      color: var(--primary);
    }
  }
}

@media screen and (max-width: 624px) {
  .container {
    column-gap: 8px;
    padding: 8px 16px;
    font-size: 12px;
    .role {
      &::after,
      &::before {
        width: 16px;
      }
      &::after {
        margin-left: 8px;
      }
      &::before {
        margin-right: 8px;
      }
    }
  }
}
