.modalBody {
  z-index: 100;
  padding: 8px 24px;
  margin-top: 10px;
}

.customFormRow {
  margin-top: 16px;
  .buttonsGroup {
    text-align: end;
    margin-bottom: 20px;
    button {
      margin-left: 24px;
      padding: 8px 24px;
      height: 44px;
    }
    .cancelButton {
      background-color: var(--white);
      border: 2px solid var(--primary);
      border-radius: 4px;
    }
    .submitActiveButton {
      background-color: var(--primary);
      color: var(--white);
      border: 2px solid var(--primary);
      border-radius: 4px;
    }

    .submitInactiveButton {
      background: var(--primary-sea);
      color: var(--white);
      border-radius: 4px;
    }
  }
}

.headerTitle {
  font-weight: bold;
  letter-spacing: 0.75px;
  font-size: 18px;
  // color: var(--primary);
}
