.activeTag {
  color: var(--success-border);
  background-color: var(--mono-tag-success);
  border: 1px solid var(--success-border);
  border-radius: 4px;
  padding: 2px 12px;
}

.inactiveTag {
  color: #f53d3d;
  background-color: #ffeaea;
  border: 1px solid #f53d3d;
  border-radius: 4px;
  padding: 2px 12px;
}

.headerTitle {
  color: var(--mono-gray);
}

.carrierScan {
  color: #f53d3d;
}

.tableContent {
  th {
    //border: none !important;
  }
}

.filterIconContainer {
  margin-top: -8px;
  .filterIcon {
    color: #bfbfbf;
    font-size: 12px;
  }
}

.singleClaimTable {
  border-bottom: 1px black dotted;
  margin-top: 100px !important;
  height: 40px !important;
}

.addrow {
  margin-top: 50px !important;
  height: 40px !important;
}

.bold-border {
  border-top: 1px solid black;
}

.clearBorder {
  border: 1px solid rgb(228, 228, 228) !important;
  white-space: nowrap !important;
}

.noWrap {
  white-space: nowrap;
}

.componentToPrint {
  display: none;
  @media print {
    display: block;
    @page {
      size: landscape;
    }
  }
}

.formatPrint {
  @media print {
    padding: 0 20px;
    @page {
      size: landscape;
    }
  }
}
