.roleFormRow {
  margin-bottom: 20px;

  input,
  select {
    height: 40px;
    background-color: var(--off-white) !important;
  }
}
.col1 {
  width: 100px;
}
.formItem1 {
  width: 80px;
}
.formItem2 {
  width: 350px;
}
.buttonsGroup {
  width: max-content;
  margin-left: auto;
  margin-top: 20px;
  button {
    margin-left: 24px;
    padding: 8px 24px;
  }
  .cancelButton {
    background-color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 5px;
  }
  .nextButton {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 5px;

    &:hover {
      border: 2px solid #1c87b9;
    }
  }
}
.redButton {
  border-radius: 3px;
}

.blueButton {
  border-radius: 3px;
  margin-right: 20px;
}
