.exportButton {
  width: 91px;
  height: 40px;
  border-radius: 4px;
}

.addButton {
  width: 91px;
  height: 40px;
  background-color: var(--primary-sea);
  border-radius: 4px;
  border-color: var(--primary-sea);
  right: 130px;

  &:hover {
    background-color: var(--primary-sea);
  }
}

.printTableContainer {
  @media print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tableHeader {
  display: none;
  @media print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.showOnPrint {
  display: none;
  @media print {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

.hideColumnOnPrint {
  @media print {
    display: none;
  }
}

.printWidth {
  @media print {
    padding: 0px 40px;
    margin-top: 40px;
  }
}
