.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  .content {
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .backIcon {
        font-size: 24px;
        cursor: pointer;
      }
      .undoButton {
        color: #f53d3d;
        border: 1px solid;
        padding: 11px 28px;
        border-radius: 4px;
        margin-right: 24px;
      }
    }
  }
  .buttonsGroup {
    width: max-content;
    margin-left: auto;
    margin-top: 20px;
    button {
      margin-left: 24px;
      padding: 8px 24px;
    }
  }
}

.columnHeader {
  // font-weight: bolder;
  // font-size: 14px;
  // line-height: 20px;
  // color: var(--mono-gray);
}

.popupTableHeader {
  // background-color: red;
}

.buttonForChangingTable {
  background: #a7cbf2;
  border-radius: 4px;
  border: 2px solid #6aa6e6;
  height: 30px;
  line-height: 20px;
}

.printTableContainer {
  @media print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tableHeader {
  display: none;
  @media print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.showOnPrint {
  display: none;
  @media print {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

.hideColumnOnPrint {
  @media print {
    display: none;
  }
}

.printWidth {
  @media print {
    padding: 0px 200px;
    margin-top: 40px;
  }
}

.textLeft {
  text-align: left;
  background-color: "red";
}
