.content {
  background-color: var(--white);
  padding: 20px;

  .statusActive {
    background: var(--mono-tag-success);
    border: 1px solid var(--success-border);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3px 12px;
    display: block;
    text-align: center;
  }

  .statusInactive {
    background: #ffeaea;
    border: 1px solid #f53d3d;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3px 12px;
    display: block;
    text-align: center;
  }
}

.exportButton {
  width: 91px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--primary-night);
  border-color: var(--primary-night);

  &:hover {
    background-color: var(--primary-night);
  }
}

.addButton {
  width: 91px;
  height: 40px;
  background-color: var(--primary-night);
  border-radius: 4px;
  border-color: var(--primary-night);
  right: 130px;

  &:hover {
    background-color: var(--primary-night);
  }
}
