.customerSelection {
  max-width: 468px;
  height: 546px;
  background: var(--white);
  box-shadow: 0px 4px 8px rgba(10, 10, 40, 0.07);
  border-radius: 8px;
  margin: 4% auto;
  padding: 2.5rem;
}

.exportButton {
  width: 91px;
  // height: 40px;
  // border-radius: 4px;
  // background-color: var(--primary-night);
  // border-color: var(--primary-night);
  // &:hover {
  //   background-color: var(--primary-night);
  // }
}

.addButton {
  // height: 40px;
  // background-color: var(--primary-night);
  // border-radius: 4px;
  // border-color: var(--primary-night);
  right: 130px;

  // &:hover {
  //   background-color: var(--primary-night);
  // }
}

.buttonInPicker {
  width: "50px";
  background: #ddeff4;
  border-radius: 4px;
  color: #2c7d8d;

  &:hover,
  &:active {
    background: #ddeff4;
    color: #2c7d8d;
  }

  span {
    color: #131e20;
  }
}

.componentToPrint {
  display: none;
  @media print {
    display: block;
  }
}

.formatPrint {
  @media print {
    padding: 0 20px;
  }
}
